<div class="container">
	<div class="row">
		<h1><%= @personality.name %></h1>
		<p><%= simple_format @personality.description %></p>

		<hr>
		<% if @contentments.count > 0 %>
			<p>You will be happiest when your career is:</p>
			<ul>
				<% @contentments.each do |c| %>
					<li><%= c.body %> (<%= link_to "edit", edit_personality_career_contentment_path(c) %> | <%= link_to "delete", personality_career_contentment_path(c), method: :delete, data: { notice: 'Are you sure?'} %>)</li>
				<% end %>
			</ul>
		<% end %>

		<p><%= render partial: 'discovery/career_contentments/form', locals: { personality: @personality } %></p>

		<hr>

		<h3><%= @strengths.count %> Strengths:</h3>
		<ul>
			<% @strengths.each do |s| %>
				<li><%= s.body %> (<%= link_to "edit", edit_personality_strength_path(s) %> | <%= link_to "delete", personality_strength_path(s), method: :delete, data: { confirm: 'Are you sure?' } %>)</li>
			<% end %>
		</ul>
		<p><%= render partial: 'discovery/strengths/form', locals: { personality: @personality, strength: @strength } %></p>


		<%= link_to "< back", personalities_path %> | <%= link_to "Edit", edit_personality_path(@personality) %>
	</div>
</div>
