<%= form_for [personality, personality.career_contentments.new] do |f| %>
	<!-- Error Messages -->
	<% if personality.errors.any? %>
		<div class="alert alert-danger">
			<h4>There are <%= pluralize(personality.errors.count, "error") %> errors.</h4>
			<ul>
				<% personality.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>Add a Career Contentment:</p>
	<p><%= f.text_field :body %></p>
	<%= f.submit %>
<% end %>