<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :option_1 %><br>
    <%= f.text_field :option_1 %>
  </div>
  <div class="field">
    <%= f.label :option_2 %><br>
    <%= f.text_field :option_2 %>
  </div>
  <div class="field">
    <%= f.label :personality_type %><br>
    <%= f.text_field :personality_type %>
  </div>
  <div class="field">
    <%= f.label :option_1_value %><br>
    <%= f.text_field :option_1_value %>
  </div>
  <div class="field">
    <%= f.label :option_2_value %><br>
    <%= f.text_field :option_2_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
