<%= form_for @answer do |f| %>
  <p><%= @question.question %></p>

  <div class="firstquestion">
    <%= label_tag do %>
      <%= f.radio_button :value, "#{@question.option_1_value}" %>
      <%# binding.pry %>
      <%= f.hidden_field :question, value: "#{@answer.question}" %>
      <%= @question.option_1 %>
    <% end %>
  </div>
  
  <div class="secondquestion">
    <%= label_tag do %>
      <%= f.radio_button :value, "#{@question.option_2_value}" %>
      <%= f.hidden_field :question, value: "#{@answer.question}" %>
      <%= @question.option_2 %>
    <% end %>
  </div>

  <%= f.submit %>

<% end %>

<p><%= number_to_percentage(@total, precision: 0) %> complete.</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
