
<%= form_for [category, major_recommendation] do |f| %>
  <p>Add a major:</p>
  <p><%= f.collection_select(:major_id, Major.all, :id, :name, :prompt => 'Select') %></p>
  <!-- <select name="category.major_recommendations[major_id]">
    <% Major.all.each do |major| %>
        <option value="<%= major.id %>"><%= major.name %></option>
    <% end %>
  </select> -->
  <%= f.submit "Add Major" %>
<% end %>
