<div class="container">
	<!-- Each Personality -->
	<div class="row">
		<h1>Categories by Personality type:</h1>
		<% @personalities.each do |p| %>
			<% if p.categories.present? %>
				<h3><%= p.name %></h3>
				<h4>Categories:</h4>
				<% p.categories.each do |c| %>
					<p><%= link_to c.name, c %> (<%= link_to "edit", edit_category_path(c) %> | <%= link_to "delete", category_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>)</p>
					<p class="small">
						<%= c.majors.count %> majors, <%= c.careers.count %> careers, <%= c.strengths.count %> strengths.
					</p>
					<hr>
				<% end %>
			<% else %>
				<p>
					No categories. <%= link_to "Add a Category", new_category_path %>
				</p>
			<% end %>
		<% end %>
		<br><br>
		<p><%= link_to "Add a Category", new_category_path %></p>
	</div>
</div>
