
<p><%= link_to "Add a Category", new_personality_category_path %></p>

<br><br>

<% @personalities.each do |p| %>
	<% if p.categories.present? %>
	Categories by Personality type:
		<h3><%= p.name %></h3>
		<h4>Categories:</h4>
		<% p.categories.each do |c| %>
			<p><%= link_to c.name, c %> (<%= link_to "edit", edit_personality_category_path(c) %> | <%= link_to "delete", personality_category_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>)</p>
		<% end %>
		<hr>
	<% end %>
<% end %>


