<h3>Category: <%= @category.name %></h3>
<p>Personality: <%= @category.personality.name %></p>
<%# binding.pry %>
<hr>
<h3><%= @strengths.count %> Strengths:</h3>
<ul>
	<% @strengths.each do |s| %>
		<li><%= s.body %> (<%= link_to "edit", edit_personality_category_strength_path(s) %> | <%= link_to "delete", personality_category_strength_path(s), method: :delete, data: { confirm: 'Are you sure?' } %>)</li>
	<% end %>
</ul>
<p><%= render partial: 'discovery/strengths/form', locals: { category: @category, strength: @strength } %></p>
<p><%= link_to "< back", personality_categories_path %> | <%= link_to "Edit", edit_personality_category_path %> | <%= link_to "delete", personality_category_path(@category), method: :delete, data: { confirm: "Are you sure?" } %></p>