<div class="container">
	<div class="row">
		<h1>Category: <%= @category.name %></h1>
		<h2>Personality: <%= @category.personality.name %></h2>
		<h3><%= pluralize(@major_recommendations.count, 'Major') %></h3>
		<%= render 'majors_form' %>

		<h3><%# @category.personality_careers.count %> Careers</h3>
		<%= render 'careers_form' %>

		<p><%= link_to "< back", categories_path %> | <%= link_to "Edit", edit_category_path(@category) %> | <%= link_to "delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?" } %></p>
	</div>
</div>
