<div class="container">
	<div class="row">
		<h1>Category: <%= @category.name %></h1>
		<h2>Personality: <%= @category.personality.name %></h2>
		<h3><%= pluralize(@category.major_recommendations.count, 'Major Recommendation') %></h3>
		<% if @category.major_recommendations.count > 0 %>
			<ul>
				<% @category.major_recommendations.each do |r| %>
					<% r.major_id.present? %>
						<li><%= r.major.name %></li>

				<% end %>
			</ul>
		<% end %>
		<p><%= render partial: 'majors_form', locals: { category: @category, major_recommendation: @major_recommendation } %></p>


		<h3><%# @category.personality_careers.count %> Careers</h3>
		<%= render 'careers_form' %>

		<p><%= link_to "< back", categories_path %> | <%= link_to "Edit", edit_category_path(@category) %> | <%= link_to "delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?" } %></p>
	</div>
</div>
