<%= form_for [category, category.career_recommendations.new] do |f| %>
  <!-- Error Messages -->
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(category.errors.count, "error") %> errors.</h4>
      <ul>
        <% category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>Add a career:</p>
  <p><%= f.collection_select(:career_id, Career.all, :id, :name, :prompt => 'Select') %></p>
  <%= f.submit "Add Career" %>
<% end %>
